# environment
.env/
physioex/

# data
data/

# results
*.pkl

# error files from job execution
*.err
*.out

# models and logs
model/
lightning_logs/

# pkl files from hpc and local
public/sleepedf/*.pkl
public/simple/*.pkl

